<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    
  </system.web>
  <connectionStrings>
   <add name="connectionStrings" connectionString="Data Source=DESKTOP-10ABNNK; Initial Catalog=SahanDB; Integrated Security=True "
      providerName="System.Data.SqlClient" />
    <add name="Flight" connectionString="Data source =DESKTOP-10ABNNK;initial catalog=SahanDB;Integrated Security=True"
      providerName="Sytem.data.sqlclient" />
    <add name="SahanDBConnectionString" connectionString="Data source=DESKTOP-10ABNNK;Initial Catalog=SahanDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SahanDBConnectionString2" connectionString="Data Source=DESKTOP-10ABNNK;Initial Catalog=SahanDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SahanDBConnectionString3" connectionString="Data Source=DESKTOP-10ABNNK;Initial Catalog=SahanDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SahanDBConnectionString4" connectionString="Data Source=DESKTOP-10ABNNK;Initial Catalog=SahanDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SahanDBConnectionString5" connectionString="Data Source=DESKTOP-10ABNNK;Initial Catalog=SahanDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>